{% extends "layout.html" %}

{% block main %}

	<!-- Main -->
		<div id="main">
			<div class="container">
				<div class="row">

					<!-- Content -->
					<div id="content" class="8u skel-cell-important">
						<section>
							<header>
								<h2>Create An Account!</h2>
								<span class="byline">Welcome to our knowledge...</span>
							</header>
							<p>Add a registar form here...</p>
						</section>
					</div>

					<!-- Sidebar -->
					<div id="sidebar" class="4u">
						<section>
							<header>
								<h2>Sign In</h2>
							</header>
							<p>Put a login form here.</p>
						</section>
					</div>
					
				</div>
			</div>
		</div>
	<!-- /Main -->

{% endblock %}