
{% extends "layout.html" %}

{% block featured %}

	<!-- Featured -->
		<div id="featured">
			<div class="container">
				<header>
					<h2>Welcome to The Archives</h2>
				</header>
				<p>This is <strong>The Archives</strong>, an online source for information regarding the expanded universe of Star Wars.</p>
				<hr />
				<div class="row">
					<section class="6u">
						<span class="pennant"><span class="fa fa-lock"></span></span>
						<h3>Create an Account</h3>
						<p>Create an account in order to use our different features!</p>
						<a href="/account" class="button button-style1">Read More</a>
					</section>
					<section class="6u">
						<span class="pennant"><span class="fa fa-globe"></span></span>
						<h3>Search</h3>
						<p>Come look through our many volumes of information!</p>
						<a href="/search" class="button button-style1">Read More</a>
					</section>

				</div>
			</div>
		</div>

{% endblock %}
