
{% extends "layout.html" %}

{% block featured %}

	<!-- Featured -->
		<div id="featured">
			<div class="container">

				<p>
					{% if current_user.is_authenticated %}
					Hi {{ current_user.id[0] }}!
					<form action="/logout">
						<p><input type="submit" value="Log Out" name="submit" /></p>
					</form>
					{% endif %}
				</p>
				
				<div class="row">
					<section class="6u">
						<span class="pennant"><span class="fa fa-lock"></span></span>
						<h3>Create an Account</h3>
						<p>Create an account in order to use our different features!</p>
						<a href="/account" class="button button-style1">Read More</a>
					</section>
					<section class="6u">
						<span class="pennant"><span class="fa fa-globe"></span></span>
						<h3>Search</h3>
						<p>Come look through our many volumes of information!</p>
						<a href="/search" class="button button-style1">Read More</a>
					</section>

				</div>
			</div>
		</div>

{% endblock %}
