<!DOCTYPE HTML5>
<html>
	<head>
		<title>The Archives</title>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<meta name="description" content="" />
		<meta name="keywords" content="" />
		<link href='http://fonts.googleapis.com/css?family=Roboto:400,100,300,700,500,900' rel='stylesheet' type='text/css'>
		<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
		<script src="static/js/skel.min.js"></script>
		<script src="static/js/skel-panels.min.js"></script>
		<script src="static/js/init.js"></script>
		<noscript>
			<link rel="stylesheet" href="static/css/skel-noscript.css" />
			<link rel="stylesheet" href="static/css/style.css" />
			<link rel="stylesheet" href="static/css/style-desktop.css" />
		</noscript>
		<link rel="stylesheet" href="static/css/style2.css" />
	</head>
	<body {%if currentpage == 'home' %}class="homepage"{% endif %}>

	<!-- Header -->
		<div id="header">
			<div id="nav-wrapper"> 
				<!-- Nav -->
				<nav id="nav">
					<ul>
						<li {% if currentpage == 'home' %}class="active"{% endif %}><a href="/">Home</a></li>
						<li {% if currentpage == 'review' %}class="active"{% endif %}><a href="/reviews">Reviews</a></li>
						<li {% if currentpage == 'timeline' %}class="active"{% endif %}><a href="/timeline">Timeline</a></li>
						<li {% if currentpage == 'search' %}class="active"{% endif %}><a href="/search">Search</a></li>
						{% if current_user.is_authenticated %}
							<li {% if currentpage == 'account' %}class="active"{% endif %}><a href="/useraccount">{{ current_user.id[0] }}</a></li>
							<li><a href="/logout">Log Out</a></li>
						{% else %}
							<li {% if currentpage == 'create_account' %}class="active"{% endif %}><a href="/createaccount">Account</a></li>
							<li {% if currentpage == 'login' %}class="active"{% endif %}><a href="/login">Log In</a></li>
						{% endif %}
					</ul>
				</nav>
			</div>
			<div class="container"> 
				
				<!-- Logo -->
				<div id="logo">
					<h1><a href="#">The Archives</a></h1>
					<span class="tag">"If an item does not appear in our records, it does not exist."</span>
				</div>
			</div>
		</div>

{% block featured %}{% endblock %}

{% block main %}{% endblock %}

	<!-- Tweet -->
		<div id="tweet">
			<div class="container">
				<section>
					<blockquote>&ldquo;There is more knowledge here than anywhere else in the galaxy.&rdquo; <br />―Jocasta Nu</blockquote>
				</section>
			</div>
		</div>

	<!-- Footer -->
		<div id="footer">
			<div class="container">
				<section>
					<header>
						<span class="byline">The Jedi Archives</span>
					</header>
				</section>
			</div>
		</div>

	<!-- Copyright -->
		<div id="copyright">
			<div class="container">
				Design: <a href="http://templated.co">TEMPLATED</a> Images: <a href="http://unsplash.com">Unsplash</a> (<a href="http://unsplash.com/cc0">CC0</a>)
			</div>
		</div>

	</body>
</html>