{% extends "layout.html" %}

{% block header %}
	
	<div id="topWrap" class="jumbotron pageheader text-center">
		<div class="container">

        <i class="fa fa-pencil fa-5x"></i><span class="fa-4x">   Reviews</span>
				
		</div>
	</div>

{% endblock %}
{% block content %}

	<div id="featureWrap">
		<div class="container">

			{% if current_user.is_authenticated %}
				<!-- FORM GOES HERE -->
				<div class="col-md-10 center">
					<form method="POST" action="/reviews">
						{{ form.hidden_tag() }}
						
						<div class="col-md-4">
							{{ form.items(class="form-control") }}<!--Item List-->
						</div>
						<div class="col-md-8 text-right">
							<input class="input-id" type="text" name="rating"> <!--Star Rating-->
						</div>
						<div class="col-md-12">
							{{ form.review_text(class="form-control", rows="10") }} <!--Text Area-->
							<input type="submit" name="Go" class="btn btn-primary btn-lg outline"/> <!--Submit Button-->
						</div>
						
					</form>
				</div>
			{% else %}
				<div class="text-center">You must be logged in to post a review.</div>
			{% endif %}
				
			<div id="reviewpane">
				<br>
				<table class="text-left col-md-10 reviewtable center">
                    {% for row in reviewResults %}
                    	<tr class="item">
                    		<td style="width:300px">
                    			{{row['item_name']}}
                    			<br/>
                    			{{row['username']}}
                    			<br/>
                    			<input class="display-id" type="text" value="{{row['rating']}}" name="rating">
                    		</td>
                    		<td colspan="3">{{row['review_text']}}</td>
                    	</tr>
                    	<!--<tr>-->
                    	<!--	<td colspan="3">{{row['review_text']}}</td>-->
                    	<!--</tr>-->
	                {% endfor %}
                </table>
            </div>
            
            <p class="text-center">
            <a href="#topWrap">GO TO TOP</a>
            </p>
                
		</div>
	</div>
	
{% endblock %}

    <!--items = SelectField(u'Pick an item', validators=[DataRequired()])-->
    <!--review_text = StringField('name', validators=[DataRequired()])-->
    <!--submit_button = SubmitField()-->