{% extends "layout.html" %}

{% block main %}

	<!-- Main -->
		<div id="main">
			<div class="container">
				<div class="row">

					<!-- Content -->
					<div id="content" class="8u skel-cell-important">
						<section>
							<header>
								<h2>Search</h2>
								<span class="byline">Look through our archives.</span>
							</header>
							<form method="POST" action="/search">
							    <input type="text" name="titleSearch" size='50' placeholder="Search by title..." />
							    <input type="submit" value="Find" />
							    <br />
							    <input type="text" name="yearSearch" size='50' placeholder="Search by year..." />
							    <input type="submit" value="Find" />
							    <br />
							    <input type="text" name="timeSearch" size='50' placeholder="Search by running time..." />
							    <input type="submit" value="Find" />
							</form>
						
						<br />
						{% if nosearch == 'GET' %}
			                <table class="resultsTable">
							    <tr>
							        <th>Title</th><th>Released</th><th>BBY/ABY</th><th>Running Time</th>
							    </tr>
							    {% for row in results %}
							    <tr>
							        <td>{{row['title']}}</td><td>{{row['released']}}</td><td>{{row['bby_aby_year']}}</td><td>{{row['running_time']}}</td>
							    </tr>
							    {% endfor %}
							</table>
		                {% elif results != '' %}
							<table class="resultsTable">
							    <tr>
							        <th>Title</th><th>Released</th><th>BBY/ABY</th><th>Running Time</th>
							    </tr>
							    {% for row in results %}
							    <tr>
							        <td>{{row['title']}}</td><td>{{row['released']}}</td><td>{{row['bby_aby_year']}}</td><td>{{row['running_time']}}</td>
							    </tr>
							    {% endfor %}
							</table>
						{% else %}
    	                <p class="noresults">
    	            	"<span class="searchterm">{{sTerm}}</span>" returned zero results...<br />
    	            	Please check your spelling or that your search term is of a valid form.
    	                </p>
    	                {% endif %}
    	                
						</section>
					</div>

					<!-- Sidebar -->
					<div id="sidebar" class="4u">
						<!-- 
						<section>
							<header>
								<h2>Etiam malesuada</h2>
							</header>
							<div class="row">
								<section class="6u">
									<ul class="default">
										<li><a href="#">Donec facilisis tempor</a></li>
										<li><a href="#">Nulla convallis cursus</a></li>
										<li><a href="#">Integer congue euismod</a></li>
										<li><a href="#">Venenatis vulputate</a></li>
										<li><a href="#">Morbi ligula volutpat</a></li>
									</ul>
								</section>
								<section class="6u">
									<ul class="default">
										<li><a href="#">Donec facilisis tempor</a></li>
										<li><a href="#">Nulla convallis cursus</a></li>
										<li><a href="#">Integer congue euismod</a></li>
										<li><a href="#">Venenatis vulputate</a></li>
										<li><a href="#">Morbi ligula volutpat</a></li>
									</ul>
								</section>
							</div>
						</section>
						<section>
							<header>
								<h2>Mauris vulputate</h2>
							</header>
							<ul class="style">
								<li>
									<p class="posted">May 21, 2014  |  (10 )  Comments</p>
									<p><a href="#">Nullam non wisi a sem eleifend. Donec mattis libero eget urna. Pellentesque viverra enim.</a></p>
								</li>
								<li>
									<p class="posted">May 18, 2014  |  (10 )  Comments</p>
									<p><a href="#">Nullam non wisi a sem eleifend. Donec mattis libero eget urna. Pellentesque viverra enim.</a></p>
								</li>
							</ul>
						</section>
						-->
					</div>
					
				</div>
			</div>
		</div>
	<!-- /Main -->

{% endblock %}