{% extends "layout.html" %}

{% block header %}
	
	<div id="topWrap" class="jumbotron pageheader text-center">
		<div class="container">

        <i class="fa fa-user fa-5x"></i><span class="fa-4x">   User Account</span>
				
		</div>
	</div>

{% endblock %}
{% block content %}

	<div id="featureWrap" class="text-center">
		<div class="container">
			
			{{ current_user.id }}<br/>
			{{ current_user.email }}
			<img src="static/assets/profilepics/{{current_user.pic}}">
			
			
		</div>
	</div>
	
{% endblock %}